<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="GET" action="/search">
            <button type="submit">Submit</button>
        </form>
        <ol>

        </ol>
        <form method="GET" action="/new">
            <button type="submit"> New </button>
        </form>
    </body>
</html>